.container__contact {
    display: flex;
    justify-content: space-around;
}

.footer__div__with__instagram,
.footer__div__with__form {
    margin: 2rem;
    padding: 1rem 2rem;
}

.footer__h3 {
    padding: 1rem 0;
    font: 700 1.5rem;
    color: #747474;
}

.footer__p__intagram {
    font: italic 300 1.2rem;
    color: #5C5C5C;
}

.footer__div__with__form {
    font-size: 1.5rem;
    color: #A4A4A4;
}

.footer__link {
    display: flex;
}