.about {
    background: var(--about-bg);
    border-radius: 2rem;
    margin: 5rem auto;
    padding: 2rem;
    max-width: 80rem;
}

.about__p {
    font: var(--main-font-size);
    text-align: justify;
    line-height: 1.5rem;
}

.about__ul {
    margin: 1rem 2rem;
    padding: 1rem auto;
}

.about__ul__item{
    list-style: inside;
    font: var(--main-font-size);
}

.product__catalog {
    font: var(--logo-font);
    margin-left: 7rem;
}

.product__catalog__h2,
.container {
    color: var(--main-text-color);
}

.container {
    margin: 2rem;
    padding: 2rem;
    width: auto;
}

.product__catalog__h2 {
    font: var(--products-font-h2);
    text-align: center;
}

.container__button {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 3.5rem;
}

.container__button__prev {
    background: url(../image/button-right.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container__button__next {
    background: url(../image/button-left.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container__button__more {
    align-items: center;
    background: var(--button-bg);
    border-radius: 15px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.13);
    color: var(--button-color);
    font: 700 1.2rem;
    height: 71px;
    justify-content: center;
    margin: 0 auto;
    width: 263px;
}